<div class="row form form-align">
  <div class="column">
    <label
      class="email-label form-label"
      for="email"
    >
      <span class="field-name">
        email
      </span>
      <div
        class="input-wrapper email-wrapper">
        <input
          type="email"
          id="email-field"
          class="BT-input"
          name="<%=form_name %>[email]"
        >
      </div>
    </label>
  </div>
</div>
<div class="row form form-align">
  <div class="column">
    <label
      class="password-label form-label"
      for="password"
    >
      <span class="field-name">
        password
      </span>
      <div
        class="input-wrapper password-wrapper">
        <input
          type="password"
          id="password-field"
          class="BT-input"
          name="<%=form_name %>[password]"
        >
      </div>
    </label>
  </div>
</div>

