<div id='new-customer-form-wrapper' class='result-wrapper'>
  <div class='container-fluid'>
    <h3 class='errors'><%= flash[:alert]  %><h3>
  <%= form_tag(customers_path, id: "new-customer-form") do %>
    <%= render partial: 'form', locals: {form_name: "customer"} %>
    <div class='row'>
      <div class='col-sm-6 col-sm-offset-3'>
        <button
          id='BT-btn'
          class="btn btn-block btn-info"
          type="submit"
        >
          <span>Register</span>
        </button>
      <div>
    </div>
  <% end %>
  </div>
</div>
